$font: 'Montserrat';
.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 50vh;
}
h2 {
  text-align: left;
  font-family: $font;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.16em;
  text-align: left;

}
button {
  width: 6rem;
}
input {
  width: 40vw;
  margin-bottom: .5rem;
  font-family: $font;
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.16em;
  text-align: left;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 0%;
  padding-left: 1rem;

}
label {
  height: 2rem;
  width: 40vw;
  margin-top: .5rem;
  font-family: $font;
  font-size: 13px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.16em;
  text-align: left;


}
textarea {
  width: 40vw;
  height: 30vh;
  border: 1px solid black;
  border-radius: 0%;

}
@media (max-width:500px) {


}
@media (max-width:768px) {

}
@media (max-width:1024px) {
}
