
<app-navbar></app-navbar>
<form class="box customStyle" name="contact" method="POST" data-netlify="true">

  <h2 class="p-1 m-1">
    WE WOULD LOVE TO HEAR FROM YOU!
  </h2>
  <p>
    <label class="p-1 m-1">FULL NAME </label><br>
    <input class="p-1 m-1" placeholder="FIRST AND LAST NAME" max="100" type="text" name="name" />
  </p>
  <p>
    <label class="p-1 m-1">EMAIL </label><br>
    <input class="p-1 m-1" placeholder="EXAMPLE@MAIL>COM" maxlength="100" type="email" name="email" />
  </p>
  <p>
    <label class="p-1 m-1">MESSAGE</label><br>
    <textarea class="p-1 m-1" rows="10" maxlength="500" name="message"></textarea>
  </p>
  <p>
    <button class="btn" type="submit">SUBMIT</button>
  </p>
  
</form>
<app-footer class="fixed-bottom"></app-footer>
