
<app-navbar></app-navbar>
<div class="box">
<form name="contact" method="POST" data-netlify="true">
  <div class="customStyle">
        <h2 class="p-1 m-1">
            WE WOULD LOVE TO HEAR FROM YOU!
        </h2>
        <label class="p-1 m-1">
            FULL NAME
        </label>
        <input class="p-1 m-1" maxlength="100" name="name" placeholder="FIRST AND LAST" type="text"/>
        <label class="p-1 m-1">
            EMAIL ADDRESS
        </label >
        <input class="p-1 m-1"  maxlength="70" name="email" placeholder="EXAMPLE@MAIL.COM" type="email"/>
        <label class="p-1 m-1" >
            MESSAGE
        </label>
        <textarea class="p-1 m-1"  maxlength="500" name="message" rows="10"></textarea>
        <button class="btn-default btn p-1 m-1" name="submit" type="submit">
            SUBMIT
        </button>
  </div>
</form>
</div>
<app-footer class="fixed-bottom"></app-footer>
