<!-- navbar  -->
<nav class="navbar">
  <div class="artist"><img src="../../../assets/images/Logo/chinbat jagdar logo.png" alt="">
  </div>
  <p href="" (click)="toggleNavbar()" class="toggle-button ">
    <i (click)="iconChange()" class="fs-2 toggle-icon {{icon}}"
    ></i>
  </p>
  <div class="nav-links" [ngClass]="{'active': navbarActive}">
    <ul class="container">
    <li><a routerLink="/homeGer">HOME</a></li>
    <li><a routerLink="/aboutGer">ÜBER UNS</a></li>
    <li><a routerLink="/galleryGer">GALERIE</a></li>
    <li><a routerLink="/contactGer">KONTAKT</a></li>
    <li class="select">
      <select name="language" id="language" [(ngModel)]="selectedLanguage" (change)="navigateToPage()">
        <option value="german">German</option>
        <option value="english">English</option>
        <option value="mongolian">Mongolian</option>
      </select>
      <div class="icons">
        <a href="https://www.facebook.com/chinbat.thangka"><i class="m-1 bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/chinbat.thangka/"><i class="m-1 bi bi-instagram"></i></a>
        <a href="mailto:chinbat.gallery@gmail.com"><i class="m-1 bi bi-envelope"></i></a>
      </div>
    </li>
    </ul>
  </div>
</nav>


