<app-navbar-ger></app-navbar-ger>
<div class="box">
<div class="img">
  <img src="../../../assets/images/about/Chinbat_Jagdar.JPG" alt="">
</div>
<div class="text">
  <h2>Chinbat Jagdar</h2>
  <p>
    Chinbat Jagdar ist ein renommierter Thangka-Künstler aus der Mongolei, geboren 1969 in Ulaanbaatar. Aus einer künstlerischen Familie stammend, hat er seine Leidenschaft für das Malen von seinem Vater Tamjav Jagdar geerbt, der ein bekannter Künstler in der Mongolei war. Seine Mutter, Amgalan Jamsran, war Architektin und sein Onkel, Ts. Davaakhuu, war ein berühmter mongolischer Maler.

Chinbat begann nach seinem Abschluss im Jahr 1988 seine Karriere im Bauwesen, hatte aber immer ein großes Interesse am Malen, insbesondere an Thangka-Kunst. Sein Vater erkannte sein Talent und mentornte ihn, um seine Fähigkeiten in der Kunst des Thangka-Malens zu entwickeln. Seit 1993 hat sich Chinbat auf Thangka-Kunst spezialisiert und Hunderte von Gemälden geschaffen, wobei er im Laufe der Jahre seine Fähigkeiten verfeinert hat. Er hat Meisterwerke für Einzelpersonen, Kunstsammler, Mönche, Lamas und viele Klöster geschaffen.
  </p>
</div>
</div>
<div class="box" id="reverse">
<div class="text">
  <p>Chinbats Vater, Tamjav Jagdar, war ebenfalls ein Thangka-Künstler, konnte aber aufgrund politischer Einschränkungen während der sowjetischen Ära seine Leidenschaft nicht frei verfolgen. Nachdem die Mongolei 1990 die Demokratie erlangte, konnte Tamjav schließlich Thangka-Künstler werden und trug sein Wissen bei und nahm an internationalen Konferenzen und Treffen für die Entwicklung und Zukunft der mongolischen Kunst teil. Tamjav malte bis zu seinem letzten Tag im Jahr 2017.

Die Gemälde von Chinbat Jagdar und seinem Vater werden sehr geschätzt und sind in vielen Klöstern zu finden, einschließlich des größten Klosters der Mongolei, des Gandantegchinlen-Klosters. Aufgrund der Art der Thangka-Kunst sollten die Künstler jedoch nicht im Vordergrund stehen, und es geht auch um religiöse Aspekte. Trotzdem arbeitet Chinbat hart daran, Thangka-Kunst zu fördern und hochwertige Thangka-Gemälde zu schaffen, ohne dabei Standards oder Regeln zu verlieren.
  </p>
</div>
<div class="img">
  <img src="../../../assets/images/about/Jagdar_Tamjav.jpg" alt="">
</div>
</div>
<div class="box">
  <div class="img">
    <img src="../../../assets/images/about/Painting.JPG" alt="">
  </div>


<div class="text">
  <p>CIm Jahr 2016 nahmen Chinbat Jagdar und sein Vater an einer Ausstellung in Övörkhangai teil, die nach Öndör Gegeen Zanabazar benannt war, wo ihre Gemälde von Besuchern, Studenten und Kunstkritikern hoch geschätzt wurden. Chinbat setzt das Vermächtnis seines Vaters fort und engagiert sich für die Erhaltung und Förderung der mongolischen Kultur und Tradition durch Thangka-Kunst.
  </p>
</div>
</div>
<app-footer-mn></app-footer-mn>
