<app-navbar-ger></app-navbar-ger>
<div class="box">
<div class="img">
  <img src="../../../assets/images/about/Chinbat_Jagdar.JPG" alt="">
</div>
<div class="text">
  <h2>Chinbat Jagdar</h2>
  <p>
    Chinbat Jagdar ist ein mongolischer Künstler, der sich schon seit seiner Kindheit für Malerei interessiert. Beide seiner Eltern haben Berufe im Bereich Zeichnen und Malerei. Sein Vater, Jagdar Tavjav, ist ein bekannter Architekt für Malerei, und seine Mutter ist Architektin. Chinbat Jagdar hat sein künstlerisches Talent von ihnen geerbt, sowie auch von seinem Onkel, der ein bedeutender mongolischer Maler war.
  </p>
</div>
</div>
<div class="box" id="reverse">
<div class="text">
  <p>Jagdar Tavjav hat eine Vielzahl von Gemälden geschaffen und hat einen unvergesslichen Eindruck in der traditionellen mongolischen Kunst hinterlassen. Jetzt verfeinert sein Sohn, Chinbat Jagdar, sein Wissen und seine Fähigkeiten auf einem höheren Level und erschafft seine eigenen Meisterwerke. Ihre Kunstwerke sind auf der ganzen Welt zu finden, besonders in buddhistischen Klöstern und in den Sammlungen von Personen, die tibetischen und mongolischen Buddhismus praktizieren.<br><br>

  Als Mitglied einer Künstlerfamilie, spezialisiert sich Chinbat Jagdar auf die alte buddhistische Kunst des Thangka, eine traditionelle Form von Rollgemälden, die typischerweise buddhistische Gottheiten, Mandalas und andere heilige Symbole darstellt. Er verwendet traditionelle Techniken und natürliche Pigmente, um seine Gemälde zu schaffen, die durch ihre komplizierten Details, lebendigen Farben und tief empfundene Spiritualität charakterisiert sind.
  </p>
</div>
<div class="img">
  <img src="../../../assets/images/about/Jagdar_Tamjav.jpg" alt="">
</div>
</div>
<div class="box">
  <div class="img">
    <img src="../../../assets/images/about/Painting.JPG" alt="">
  </div>


<div class="text">
  <p>Chinbat's Thangka-Kunst wurde in verschiedenen Galerien und Ausstellungen in der ganzen Mongolei gezeigt, und seine Werke wurden von Kunstliebhabern auf der ganzen Welt gesammelt. Er erkundet weiterhin neue Techniken und Stile und strebt stets danach, die Grenzen seiner Kunst zu erweitern und wirklich einzigartige und unvergessliche Werke zu schaffen. <br><br>
  Insgesamt ist Chinbat Jagdar ein hochbegabter und erfolgreicher Künstler mit einer tiefen Verbindung zu seinen kulturellen Wurzeln und einer Leidenschaft für Thangka. Das Erbe seiner Familie, kombiniert mit seiner eigenen Hingabe und Begabung, hat es ihm ermöglicht, wunderschöne und nachdenklich stimmende Kunstwerke zu erschaffen, die von Sammlern auf der ganzen Welt geschätzt werden.
  </p>
</div>
</div>
<app-footer-mn></app-footer-mn>
