<app-navbar-ger></app-navbar-ger>
<div class="box">
  <div class="error" [class.hidden]="errorMsg.length == 0">
    <p>{{errorMsg}}</p>
    <span (click)="closeError()" class="close">✖︎</span>
  </div>

  <form [formGroup]="contactForm" name="contactForm" (ngSubmit)="onSubmit()">
      <h2>WIR WÜRDEN UNS FREUEN, VON IHNEN ZU HÖREN!</h2>
      <label>VOLLSTÄNDIGER NAME</label>
      <input formControlName="name" type="text" name="name" placeholder="VOR UND NACHNAME">
      <label>EMAIL</label>
      <input formControlName="email" type="email" name="email" placeholder="EXAMPLE@MAIL.COM">
      <label >MESSAGE</label>
      <textarea formControlName="message" type="text" name="message" maxlength="500" row="10"></textarea>
      <button class="mt-2 btn rounded-0" type="submit" [disabled]="contactForm.invalid">ABSENDEN</button>
  </form>
</div>
<app-footer-ger class="fixed-bottom"></app-footer-ger>

