<app-navbar></app-navbar>
<div class="box">
<div class="img">
  <img src="../../../assets/images/about/Chinbat_Jagdar.JPG" alt="Chinbat_Jagdar.jpg">
</div>
<div class="text">
  <h2>Chinbat Jagdar</h2>
  <p>
    Chinbat Jagdar is a renowned Thangka artist from Mongolia, born in 1969 in Ulaanbaatar. Coming from an artistic family, he inherited his passion for painting from his father Tamjav Jagdar, who was a well-known artist in Mongolia. His mother, Amgalan Jamsran, was an architect, and his uncle, Ts.Davaakhuu, was a famous Mongolian painting artist.

Chinbat started his career in civil engineering after graduating from college in 1988, but he always had a keen interest in painting, especially in Thangka art. His father noticed his talent and mentored him to develop his skills in the art of Thangka painting. Since 1993, Chinbat has been specializing in Thangka art and has created hundreds of paintings, refining his skills over the years. He has created masterpieces for individuals, art collectors, monks, lamas, and many monasteries.
  </p>
</div>
</div>
<div class="box" id="reverse">
<div class="text">
  <p>Chinbat's father, Tamjav Jagdar, was also a Thangka artist, but due to political restrictions during the Soviet era, he was unable to pursue his passion freely. After Mongolia gained democracy in 1990, Tamjav was finally able to become a Thangka artist, and he contributed his knowledge and attended international conferences and meetings for the development and future of Mongolian art. Tamjav was painting until his last days in 2017.<br><br>

  Chinbat Jagdar and his father's paintings are highly regarded and can be found in many monasteries, including the largest monastery in Mongolia, Gandantegchinlen Monastery. However, because of the nature of Thangka art, the artists shouldn’t stand out, and it's from a religious point of view. Despite this, Chinbat is working hard to promote Thangka art and to create high-quality Thangka paintings without losing any standards or rules.
  </p>
</div>
<div class="img">
  <img src="../../../assets/images/about/Jagdar_Tamjav.jpg" alt="Jagdar_Tamjav.jpg">
</div>
</div>
<div class="box">
  <div class="img">
    <img src="../../../assets/images/about/Painting.JPG" alt="Painting.jpg">
  </div>


<div class="text">
  <h2>What is Thangka</h2>
  <p>In 2016, Chinbat Jagdar and his father participated in an exhibition in Övörkhangai named after Öndör Gegeen Zanabazar, where visitors, students, and art reviewers highly appreciated their paintings. Chinbat continues his father's legacy and is dedicated to preserving and promoting Mongolian culture and tradition through Thangka art.
  <br><br>
  </p>
</div>
</div>
<app-footer></app-footer>
