<app-navbar></app-navbar>
<div class="box">
<div class="img">
  <img src="../../../assets/images/about/IMG_7854.JPG" alt="">
</div>
<div class="text">
  <h2>Chinbat Jagdar</h2>
  <p>
    TEST! Chinbat Jagdar is a Mongolian artist who has been interested in painting from a young age. Both of his parents have professions in drawing and painting. His father, Jagdar Tavjav, is a well-known painting architect, and his mother is an architect. Chinbat Jagdar inherited his artistic talent from them, as well as from his uncle, who was a prominent Mongolian painting artist.
  </p>
</div>
</div>
<div class="box" id="reverse">
<div class="text">
  <p>Jagdar Tavjav created a variety of paintings and left an unforgettable footprint in Mongolian traditional art. Now, his son, Chinbat Jagdar, is refining his knowledge and skills to another level, creating his own masterpieces. Their art can be found all over the world, particularly in Buddhist monasteries and in the collections of individuals who practice Tibetan and Mongolian Buddhism.<br><br>

  Coming from a family of generational artists, Chinbat Jagdar specializes in the ancient Buddhist art of Thangka, a traditional form of scroll painting that typically depicts Buddhist deities, mandalas, and other sacred symbols. He uses traditional techniques and natural pigments to create his paintings, which are characterized by intricate details, vibrant colors, and a deep sense of spirituality.
  </p>
</div>
<div class="img">
  <img src="../../../assets/images/about/zzzz1.jpg" alt="">
</div>
</div>
<div class="box">
  <div class="img">
    <img src="../../../assets/images/about/IMG_7847.JPG" alt="">
  </div>


<div class="text">
  <h2>What is Thangka</h2>
  <p>Chinbat's Thangka art has been exhibited in various galleries and exhibitions throughout Mongolia, and his pieces have been collected by art enthusiasts around the world. He continues to explore new techniques and styles, always striving to push the boundaries of his art and create truly unique and memorable works.

  Overall, Chinbat Jagdar is a highly skilled and accomplished artist with a deep connection to his cultural roots and a passion for Thangka. His family's legacy, combined with his own dedication and talent, has allowed him to create beautiful and thought-provoking works of art that are treasured by collectors around the world.
  <br><br>
  Overall, Chinbat Jagdar is a highly skilled and accomplished artist with a deep connection to his cultural roots and a passion for Thangka. His family's legacy, combined with his own dedication and talent, has allowed him to create beautiful and thought-provoking works of art that are treasured by collectors around the world.
  </p>
</div>
</div>
<app-footer></app-footer>
