<!-- artist name is here -->
<app-artist></app-artist>
<!-- navbar is here -->
<app-navbar></app-navbar>

<!-- gallery content is here -->
<div id="gallery" >
  <div class="img" *ngFor=" let pic of gallery ; index as i">
    <a routerLink="/imgzoomin/{{i}}"><img width="500px" src="/assets/images/gallery/{{pic.img}} "
     alt=""></a>
      <div class="text-center pt-4">
      <h3>{{pic.name}}</h3>
      <p>{{pic.artist}}</p>
      </div>
  </div>
</div>
<!-- footer is here -->
<app-footer></app-footer>
