<!-- navbar -->
<nav>
  <!-- artist name -->
  <div class="artist">
  <app-artist></app-artist><span><i (click)="toggle()" [class]="'bi ' + iconClass + ' btn xBtn'"></i></span>
  </div>
  <!-- navlinks -->
  <div class="links" id="navlinks" *ngIf="showNavLinks" >
    <a href="/">Home</a>
    <a href="about">About</a>
    <a href="gallery">Gallery</a>
    <a href="contact">Contact</a>
  </div>
  <!-- mobile version adjustments -->
  <div id="mobile" class="mobile" *ngIf="showMobile">
    <!-- language box -->
    <div class="language">
      <select value="language">
        <option name="english" id="">English</option>
        <option name="mongolian" id="">Mongolian</option>
        <option name="german" id="">German</option>
      </select>
    </div>
    <!-- icons -->
    <div class="icons">
    <i class="m-1 bi bi-facebook"></i>
    <i class="m-1 bi bi-instagram"></i>
    <i class="m-1 bi bi-envelope"></i>
    </div>
  </div>
</nav>
