
<app-navbar-mn></app-navbar-mn>
<div class="box">
  <form name="contact" method="POST" data-netlify="true">
    <div class="customStyle">
          <h2 class="p-1 m-1">
            ТА ЗУРВАС ИЛГЭЭХИЙГ ХҮСВЭЛ!
          </h2>
          <label class="p-1 m-1">
            БҮТЭН НЭР
          </label>
          <input class="p-1 m-1" maxlength="100" name="name" placeholder="НЭР БОЛОН ОВОГ" type="text"/>
          <label class="p-1 m-1">
            ЦАХИМ ШУУДАН
          </label >
          <input class="p-1 m-1"  maxlength="70" name="email" placeholder="EXAMPLE@MAIL.COM" type="email"/>
          <label class="p-1 m-1" >
            ЗУРВАС
          </label>
          <textarea class="p-1 m-1"  maxlength="500" name="message" rows="10"></textarea>
          <button class="btn-default btn p-1 m-1" name="submit" type="submit">
            ИЛГЭЭХ
          </button>
    </div>
  </form>
</div>
<app-footer-mn class="fixed-bottom"></app-footer-mn>

