
<app-navbar-mn></app-navbar-mn>
  <form class="box customStyle" name="contact" method="POST" data-netlify="true">
    <div class="width">
    <h2 class="p-1 m-1">
      ТА ЗУРВАС ИЛГЭЭХИЙГ ХҮСВЭЛ!
    </h2>
    <p>
      <label class="p-1 m-1">БҮТЭН НЭР </label><br>
      <input class="p-1 m-1" placeholder="НЭР БОЛОН ОВОГ" max="100" type="text" name="name" />
    </p>
    <p>
      <label class="p-1 m-1">ЦАХИМ ШУУДАН </label><br>
      <input class="p-1 m-1" placeholder="EXAMPLE@MAIL>COM" maxlength="100" type="email" name="email" />
    </p>
    <p>
      <label class="p-1 m-1">ЗУРВАС</label><br>
      <textarea class="p-1 m-1" rows="10" maxlength="500" name="message"></textarea>
    </p>
    <p>
      <button class="btn" type="submit">ИЛГЭЭХ</button>
    </p>
    </div>
  </form>
<app-footer-mn class="fixed-bottom"></app-footer-mn>
