
<app-navbar-mn></app-navbar-mn>
<div class="box">
  <div class="error" [class.hidden]="errorMsg.length == 0">
    <p>{{errorMsg}}</p>
    <span (click)="closeError()" class="close">✖︎</span>
  </div>

  <form [formGroup]="contactForm" name="contactForm" (ngSubmit)="onSubmit()">
      <h2>ТА ЗУРВАС ИЛГЭЭХИЙГ ХҮСВЭЛ!</h2>
      <label>БҮТЭН НЭР</label>
      <input formControlName="name" type="text" name="name" placeholder="НЭР БОЛОН ОВОГ">
      <label>ЦАХИМ ШУУДАН</label>
      <input formControlName="email" type="email" name="email" placeholder="EXAMPLE@MAIL.COM">
      <label >ЗУРВАС</label>
      <textarea formControlName="message" type="text" name="message" maxlength="500" row="10"></textarea>
      <button class="mt-2 btn rounded-0" type="submit" [disabled]="contactForm.invalid">ИЛГЭЭХ</button>
  </form>
</div>

<app-footer-mn class="fixed-bottom"></app-footer-mn>
