.artist_name {
  font-family: 'AmstelvarAlpha';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  color: black;
  padding-left: 2rem;
  position: absolute;
  padding-top: 1.5rem;
}
