<app-navbar-mn></app-navbar-mn>
<div class="box">
<div class="img">
  <img src="../../../assets/images/about/IMG_7854.JPG" alt="">
</div>
<div class="text">
  <h2>Чинбат Жагдар</h2>
  <p>
    Ж.Чинбат багаасаа зурах авъяас сонирхолтой дээр аав, ээж нь зургийн мэргэжилтэй удам дагасан зураач хүмүүс. Мэргэжлийн заавар зөвөлгөөг ааваараа заалгасан.
    Ээж нь 70 нас гаран ч барилгын зургийн ажлаа хийсээр байгаа. Түүний зурагаар баригдсан олон байшин барилга Улаанбаатар хотод бий. Нагац ах Ц.Даваахүү нь олонд танигдсан монгол зургийн зураач хүн байсан.
    Эдгээр хүмүүсийн авъяас чадвар, өвлөгдөн үлдсэн байгалийн төрлөх авъяастай зураач яах аргагүй мөн.
    2016 онд “Занабазарын нэрэмжит Өвөрхангайн урчууд” Үзэсгэлэнд бүтээлүүдээрээ оролцон нутгийн зураачид болон үзэсгэлэн үзэс сонирхсон олонд маш өндөр үнэлэгдсэн. Зургийн гүйцэтгэлийн биширцгээж байсан.

  </p>
</div>
</div>
<div class="box" id="reverse">
<div class="text">
  <p>Тавжав овогтой Жагдар.
    1943 онд Өвөрхангай аймгийн Зүүнбаян улаан суманд төрсөн. Бага насаа хөдөө орон нутагтаа өнгөрүүлсэн. 1953 онд сургуульд орж 1963 онд Өвөрхангайн арван жилийн сургууль төгссөн. 1964 онд БНАГ улсад өнгө будгийн архитекторч мэргэжлээр 7 жил сурч төгссөн. Төгсөж ирээд улсын их сургуулийн барилга архитектурын ангид зураг урлалын багшаар ажилласан. Германд сургууль төгсч ирээд олон хурал цуглаан, гадаадын жуулчдад орчуулга хийдэг Герман хэлний хэлмэрчээр мөн ажиллаж байсан.<br><br>
    1976 онд БНАГ-д үйлдвэрчний эвлэлийн сургуульд сурч 1979 онд төгсөж ирээд Монголын Үйлдвэрчний Эвлэлийн Төв зөвлөлийн Соёлын Төв ордонд арга зүйчээр ажилласан. 1990 оноос бие даасан зураачаар ажилласан. Энэ хугацаанд олон бурхан бүтээл буяны ажил хийж байсан. Миний аав багаасаа уран зурагт дуртай их зурдаг хүүхэд байсан. 1990 оноос өмнө Социализмын үед бурхан зурах нь хориотой байсан. Ардчилал гарсанаас хойш өөрийн дуртай зүйлээ хийж байгаад тэтгэвэртээ гарсан. 2017 онд таалал төгссөн.

  </p>
</div>
<div class="img">
  <img src="../../../assets/images/about/zzzz1.jpg" alt="">
</div>
</div>
<div class="box">
  <div class="img">
    <img src="../../../assets/images/about/IMG_7847.JPG" alt="">
  </div>


<div class="text">
  <p>Жагдарын Чинбат.
    1969 онд Улаанбаатар хотод төрсөн. 1976-1985 онд улсын 1-р арван жилд бүрэн дунд боловсрол эзэмшсэн. 1985 оноос Барилгын техник мэргэжлийн сургуульд орж суралцан 1988 онд төгссөн. 1988 оноос улсын байгууллагад ажиллаж байгаад 1994 оноос бие даасан зураачаар ажиллаж олон арван бурхан бүтээж олон түмэндээ буян үйлдэж ажиллаж байна.
  </p>
</div>
</div>
<app-footer-mn></app-footer-mn>
