
<div class="box">
<div class="img">
  <img src="../../../assets/images/about/Chinbat_Jagdar.JPG" alt="">
</div>
<div class="text">
  <p>
   Жагдар овогтой Чинбат нь 1969 онд Улаанбаатар хотноо зураач бүтээлч гэр бүлд төрсөн бурхан урлаач юм. Тэрээр авьяас чадвараа түүний эцэг бурхан урлаач, уран зураач Тамжав овогтой Жагдар, түүний эх болох аритектурч Жамсран овогтой Амгалан болон түүний нагац ах монгол зургийн уран бүтээлч Цэдэндаш овогтой Даваахүү нараас авсан билээ.

Ж.Чинбат нь 1988 онд Барилга Техник Мэргэжлийн сургуулийг амжилттай төгсөн 1993 он хүртэл багшаар ажиллаж байх үеэр бурхан урлалд шимтэн суралцан Т.Жагдарын заавар удирдлаган дор ур чадвараа хөгжүүлэн 1993 оноос бурхан бүтээлчээр бие даан өдийг хүртэл ажиллахдаа олон зуун бүтээл тууриваж өргөн олондоо болон сүм хийдүүдэд бүтээлүүдээ өргөн барьсаар байна.


  </p>
</div>
</div>
<div class="box" id="reverse">
<div class="text">
  <p>Түүний аав Т.Жагдар нь 1971 онд БНАГ улсад өнгө будгийн архитекторч мэргэжлээр,  төгссөн. Төгсөж ирээд улсын их сургуулийн барилга архитектурын ангид зураг урлалын багшаар ажиллаж байхдаа бурхан урлалд сонирхолтой болж бүтээл бүтээхийг хүссэн боловч улс төрийн хоригийн улмаас 1990 оныг хүртэл боломжгүй байсан юм. Монгол улс Ардчилсан нийгэмтэй болсноор удаан хүлээсэн хүсэл мөрөөдлийнхөө дагуу бурхан урлаачаар ажиллаж эхэлсэн ба олон арван гадаад, дотоодын чуулга уулзалтуудад оролцон 2017 онд насан эцэсллэх хүртэл монгол зураг, ёс заншилыг хадгалан хойч үедээ өвлүүлэн үлдээхэд өөрийн хүч хөдөлмөр хувь нэмэрээ гарамгүй оруулсан эрхэм юм.
  </p>
</div>
<div class="img">
  <img src="../../../assets/images/about/Jagdar_Tamjav.jpg" alt="">
</div>
</div>
<div class="box">
  <div class="img">
    <img src="../../../assets/images/about/Painting.JPG" alt="">
  </div>

<div class="text">
  <p>Ж.Чинбат болон түүний аавын бүтээлүүд Монгол, Төвдийн буддын сүм хийд болон сүсэгтэн олны гэрийн хойморт, урлаг судлаачдын цуглуулга гээд дэлхий даяар тархсан байгаа нь бахархалтай. Монгол улсын томоохон хийдүүдийн нэг болох Гандан Тэгчилэн хийдийн сүм дугануудад бүтээлүүд өдийг хүртэл олон түмэнд нээлттэй хадгалагдан бий. Мөн тэд 2016 онд “Занабазарын нэрэмжит Өвөрхангайн урчууд” Үзэсгэлэнд бүтээлүүдээрээ оролцон нутгийн зураачид болон үзэсгэлэнг үзэж сонирхогчидод зургийн гүйцэтгэлээрээ гайхагдаж өндөр үнэлгээ авч байсан билээ.

Ж.Чинбат нь аавынхаа авьяас чадвараас гадна хүсэл мөрөөдлийг давхар өвлөн авч хойч үедээ монгол зургийн гайхамшиг, өв соёлын нэг хэсэг болох бурханы урлалыг таниулж, өвлүүлэн үлдээх хүсэл тэмүүлэлтэй ажиллаж байна.

  </p>
</div>
</div>

