.content {
  display: flex;
  justify-content: space-between;
  widows: 100vw;
  margin: 2rem;

  img{
    width: 50vw;
    height: fit-content;
  }
  .details {
    width: 40vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    margin: 2rem;
    h2{
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 2rem;
    }
    p{
      text-align: center;
    }

  }
}

@media screen and (max-width:1300px) {
.content{
  padding-bottom: 200px;
  .details{
  font-size: 17px;
  h2{
    font-size: 25px;
  }
}
}
}
@media screen and (max-width:1070px) {
  .content{
    padding-bottom: 400px;
    .details{
    font-size: 15px;
    h2{
      font-size: 22px;
    }
  }
  }
}
@media screen and (max-width:1000px) {
  .content{
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    margin: 2rem;
    img{
      width: 90vw;
    }
    .details{
      width: 90vw;
      font-size: 20px;
      margin: 0;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    h2{
      font-size: 30px;
    }
  }
  }
}
@media screen and (max-width:700px) {
  .content{
    flex-direction: column;
    width: 100vw;
    margin: 2rem;
    img{
      width: 90vw;
    }
    .details{

      margin: 0;
      padding: 0px;
      width: 90vw;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

    h2{
      font-size: 25px;
    }
  }
  }
}
@media screen and (max-width:500px) {
  .content{
    flex-direction: column;
    width: 100vw;
    margin: 10px;

    img{
      width: 90vw;
    }
    .details{
      margin: 0;
      padding: 0px;
      width: 90vw;
      font-size: 13px;

      display: flex;
      justify-content: center;
      align-items: center;
    h2{
      font-size: 20px;
    }
  }
  }
}


