.pic{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  justify-content: space-around;
  img{
    width: 55vw;
  }
  .imgText{
    width: 30vw;
    height: 100vh;
    margin-bottom: 15rem;
    h2{
      margin-bottom: 10rem;
      font-family: Jaldi;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: justified;
      font-size: 3rem;
      line-height: 1.5rem;
    }
    p{
      font-family: Jaldi;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: justified;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
