body {
  margin:0;
}
.background {
  background-image: url(/assets/images/full_sizes/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
.sideNav {
  background: linear-gradient(88.51deg, rgba(15, 15, 15, 0.5) 2.2%, rgba(55, 55, 55, 0) 99.68%);
  position: absolute;
  width: 20rem;
  height: 100vh;
  top: 0;
  left: 0;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  button{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Lato';
    font-style: normal;
  }:hover {
    color: darkgray;
  }
  button:active{
   scale: 0.9;
  }
}
.hiddenButtons{
  display: flex;
  flex-direction: column;
  height: auto;
}
