  <!-- background img  -->
  <div class="background"></div>
  <div class="sideNav">
    <!-- Buttons are here -->
  <div class="buttons">
      <div>
        <button (click)="showOptions()" [ngStyle]="{'display' : languageStatus ? 'block' : 'none'}" id="languageBtn" class="btn border-0" >Language</button>
        <div class="hiddenButtons" [ngStyle]="{'display': status ? 'flex' : 'none'}">
          <button (click)="english()" class="btn border-0">English</button>
          <button (click)="german()" class="btn border-0">German</button>
          <button (click)="mongolian()" class="btn border-0">Mongolian</button>
        </div>
      </div>
      <div>
        <button (click)="enter()" id="enter-button" class="btn border-0">Enter</button>
      </div>
  </div>
