@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
  // default
*{
}
body{
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  width: 100vw;
  overflow: hidden;
}
.artist {
padding-left: 1rem;
font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 25px;
/* identical to box height, or 78% */

letter-spacing: 0.05em;

color: #000000;

}
.nav-links {
  padding-right: 2rem;
}
.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  text-align: left;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 24px */

  letter-spacing: 0.2em;

  color: #000000;

}
.nav-links li a:hover {
  scale: 1.05;
}
.nav-links li a:active{
  scale: 0.95;
}
.nav-links li a:hover {
  color: gray;
}

.nav-links ul li select{
  border-radius: 10px;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.3rem;
}



.select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select .icons {
  display: none;
}
.toggle-button{
  position: absolute;
  top: .2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-icon{
  color: black;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
//small laptop
@media (max-width :1024px) {

.artist{
  font-size: 1.3rem;
  line-height: 1.1rem;
}
.nav-links li a {
  font-size: 15px;
}
.nav-links ul li select{
  border-radius: 10px;
  width: 4rem;
  height: 1.5rem;
  font-size: .7rem;
}
}

//tablet
@media (max-width :768px) {

  .artist{
    font-size: 1rem;
    line-height: .8rem;
  }
  .nav-links li a {
    font-size: 15px;
  }
  .nav-links ul li select{
    border-radius: 10px;
    width: 3.2rem;
    height: 1rem;
    font-size: .5rem;
  }
}
// mobile screen
@media (max-width :550px) {
  .artist {
    padding-left: 1rem;
  }
  .toggle-button {
    display: flex;
  }
  .nav-links{
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .nav-links.active {
    display: flex;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .select {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
  }
  .select .icons {
    display: flex;
  }
  .select .icons i:hover {
    color: #510d5f;
  }
  .artist{
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .nav-links ul li a {
    font-size: 20px;
  }
  .nav-links ul li select{
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
  }
  .nav-links li a:hover {
    scale: 1;
  }
}
